*
 html {
      box-sizing: border-box;
      min-height: 100%;
      min-width: 100%;
    }


    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }


    :root {
      font-family: "Inter", Verdana, sans-serif;
      font-feature-settings: "liga" 1, "calt" 1;
    }



	h1 {
      text-align: left;
      color: Indigo;
      font-size: 1.4em;
      font-family: "Inter", Verdana, sans-serif;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
	  margin-top: 18%;
	  margin-left: 12%;
	}


    a {
      text-align: left;
      color: rgb(100, 100, 100);
      font-size: 1.0em;
      font-family: inherit, Verdana, sans-serif;
      font-weight: 400;
      font-style: normal;
	  text-decoration: none;
	  margin-left: 12%;
    }


	/* mouse over link */
	a:hover {
	  color: Indigo;
      transition: color 0.3s ease-in-out;
	}


	ul {
	  padding: 0;
	}
